/* this file is intended for custom styles */

.white {
	color:#ffffff;
		
}
a.white:hover {
	text-decoration: underline;
	color:#ffffff;
	
}
.height80 {
	min-height:80px;
}

.height180 {
	min-height:180px;
}

.fancybox-thumbs {
  background: rgba(0, 0, 0, 0.3);
}