body {
    background-color: #ddd;
    margin: 10px;
    text-align: left;
}

#rkeventphotosmoduleItemContainer {
    background-color: #eee;
    height: 300px;
    overflow: auto;
    padding: 5px;
}

#rkeventphotosmoduleItemContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#rkeventphotosmoduleItemContainer a {
    color: #000;
    margin: 0.1em 0.2em;
    text-decoration: underline;
}
#rkeventphotosmoduleItemContainer a:hover,
#rkeventphotosmoduleItemContainer a:focus,
#rkeventphotosmoduleItemContainer a:active {
    color: #900;
    text-decoration: none;
}

#rkeventphotosmoduleItemContainer a img {
    border: none;
}

#rkeventphotosmoduleItemContainer a img {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    padding: 0.5em;
}
#rkeventphotosmoduleItemContainer a:hover img,
#rkeventphotosmoduleItemContainer a:focus img,
#rkeventphotosmoduleItemContainer a:active img {
    background-color: #fff;
}

.rkeventphotosmodule-finderform fieldset,
.rkeventphotosmodule-finderform fieldset legend {
    background-color: #fff;
    border: none;
}
