{# purpose of this template: album items admin index view #}
{% extends 'RKEventPhotosModule::adminBase.html.twig' %}
{% block title __('album items') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the album item section of the Event photos application.') }}</p>
{% endblock %}
